:root{
    --color-main:#062743;
    --color-secondary:#113a5d;
    --color-contrast:#c4ffdd;
    --color-bright:#f9f9f9;
    font-family: sans-serif;
    --bar-height: 100px;
}


html{
    /* height: 100vh; */
}
body{
    margin: unset;
    background-image: url('images/background.jpg');
    background-size: cover;
}
.main-container{ 
    height: auto;
    min-height: 100vh;
    
    display: grid;
    grid-template-columns:10% 50px auto 50px 10%;
    grid-template-rows: auto 20px min-content 20px 100px;
    /* background-color: lightgrey; */

    }
.header-color{
    background: #062743;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
}
header.main-header{
    background: #062743;

    display: flex;
    align-content: center;
    align-items: flex-end;

}

/* Style the header */

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
position: fixed;
top: 0;
width: 100%;
opacity: 50%;
}

.sticky:hover{
opacity: unset; 
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .main-container {
padding-top: 102px;
}

/* Add a black background color to the top navigation */
.top-nav {
flex: 3;
grid-column-start: 3;
grid-column-end: 4;
overflow: hidden;
position: relative;
}

.top-nav #myLinks {
    display: block;
}

.top-nav a.icon {
    background: black;
    display: none;
    position: absolute;
    right: 0;
    top: 0;
}

/* Style the links inside the navigation bar */
.top-nav a {
    float: left;
    color: var(--color-bright);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}
/* Change the color of links on hover */
.top-nav a:hover,
.top-nav a:focus  {
background-color: var(--color-contrast);;
color: var(--color-main) !important;
}

/* Add a color to the active/current link */
.top-nav a.active {
    color: var(--color-contrast);
}




.top-title{
    flex: 6;
    color: var(--color-contrast);;
    flex-shrink: 3;
    text-align: center;
}


.main-container div.main-content-container{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    display: grid;
    grid-template-columns: repeat(12, 1fr [col-start]);;
    grid-gap: 20px;
    grid-auto-rows: 200px 200px;
}

.main-container div.main-content-container > div{
    border-radius: 15px;
    box-shadow: 4px 2px 20px 2px #455365;
    background: var(--color-bright);

}

.content-header{
    grid-column: 5/ span 4;
    grid-row: auto;
    box-shadow: unset !important;
    display: flex;  
    justify-content: center;
    align-items: center;
    background: transparent !important;
    
}
.center-content-flex{
    align-items: center;
    justify-content: center;
}
.main-container div.main-content-container .profile-pic-container{
    background: var(--color-secondary);
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row: auto/ span 2;
    display: flex;
}
.main-container div.main-content-container .profile-pic-container img{
    height: 225px;
}

.main-container div.main-content-container .profile-content-container{
    background: var(--color-contrast);
    grid-column-start: 6;
    grid-column-end: 13;
    grid-row: auto/ span 2;
}


footer.main-footer{
    background: var(--color-main);
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 6;
}

.project-container:nth-child(odd){
    grid-column-start: 1;  
    grid-column-end: 7;
    grid-row: auto/ span 2;
}
.project-container:nth-child(even){
    grid-column-start: 7;  
    grid-column-end: 13;
    grid-row: auto/ span 2;
}

.contact-me-container{
    grid-column: 4/ span 6;
    grid-row: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

}
.contact-icon > a{
    color:var(--color-main);
    text-decoration: none;
   
}
.contact-icon{
    
}
.contact-icon > a:hover{
    color:var(--color-secondary);
    text-decoration: none;
    font-size: 110%;
    text-shadow:1px 2px 18px #062743;

}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the top-nav (.icon) */
@media screen and (max-width: 991px) {
    .main-container{
        grid-template-columns:2% 10px auto 10px 2%;
    }

    .main-container div.main-content-container .profile-pic-container{
        grid-column: 1/ span 13;
    }
    .main-container div.main-content-container .profile-content-container{
        grid-column: 1/ span 13;
    }
    .main-container div.main-content-container div{
        grid-column: 1/ span 13
    }

}
@media screen and (max-width: 768px) {
    .main-container div.main-content-container{
        grid-auto-rows: 150px 150px;
        
    }
    header.main-header{
        flex-direction: column-reverse;
        align-items: initial;
    }
    .top-nav a{
        font-size: 90%;
    }
    .top-nav #myLinks{
        display: none;
    }
    .top-nav a.icon{
        display: initial;
    }

}
@media screen and (min-width: 768px) {
    .top-nav #myLinks{
        display: initial !important;
    }
    .top-nav a.icon{
        display: none !important;
    }
}
@media screen and (max-width: 425){

}